version: '3.8'
services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      # THIS IS FOR DEVELOPMENT ONLY. Use environment variables in production.
      POSTGRES_DB: property_management
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
